In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [82]:
df= pd.read_excel("Date-Wise-Prices-all-Commodity.xlsx")
df
#scale all columns

,diffgr:id,msdata:rowOrder,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Table1,0,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 1,FAQ,24/02/2023,4000,4100.0,4000.0
1,Table2,1,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 2,FAQ,24/02/2023,3000,3500.0,3500.0
2,Table3,2,Andhra Pradesh,Chittor,Chittoor,Gur(Jaggery),NO 3,FAQ,24/02/2023,2300,2300.0,2300.0
3,Table4,3,Andhra Pradesh,Chittor,Punganur,Tomato,Hybrid,FAQ,24/02/2023,1340,2000.0,1670.0
4,Table5,4,Andhra Pradesh,Chittor,Vayalapadu,Tomato,Local,FAQ,24/02/2023,640,2160.0,1400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6430,Table6431,6430,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Onion,Red,FAQ,24/02/2023,1400,1500.0,1450.0
6431,Table6432,6431,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Potato,Jyoti,FAQ,24/02/2023,760,800.0,780.0
6432,Table6433,6432,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Rice,Common,FAQ,24/02/2023,2700,2900.0,2800.0
6433,Table6434,6433,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Rice,Super Fine,FAQ,24/02/2023,4700,4900.0,4800.0
6434,Table6435,6434,West Bengal,Sounth 24 Parganas,Diamond Harbour(South 24-pgs),Tomato,Tomato,FAQ,24/02/2023,1400,1600.0,1500.0

In [83]:
ProfileReport(df)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              6435 non-null   object
 1   District           6435 non-null   object
 2   Market             6435 non-null   object
 3   Commodity          6435 non-null   object
 4   Variety            6435 non-null   object
 5   Grade              6435 non-null   object
 6   Arrival_Date       6435 non-null   object
 7   Min_x0020_Price    6435 non-null   int64
 8   Max_x0020_Price    6435 non-null   float64
 9   Modal_x0020_Price  6435 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 502.9+ KB

In [53]:
df= df.drop("Arrival_Date", axis= 1)

In [55]:
sales= pd.get_dummies(df, columns=["State", "District", "Market", "Commodity", "Variety", "Grade"])
sales = sales.astype(int)
sales

,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price,State_Andhra Pradesh,State_Bihar,State_Chandigarh,State_Chattisgarh,State_Goa,State_Gujarat,State_Haryana,...,Variety_Yellow (Black),Variety_Zinga(Zambo-A),Variety_Zinga(Zambo-B),Variety_Zinga(Zambo-C),Variety_api,Variety_other,Grade_FAQ,Grade_Large,Grade_Medium,Grade_Small
0,4000,4100,4000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,3000,3500,3500,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2300,2300,2300,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1340,2000,1670,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,640,2160,1400,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,1400,1500,1450,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6431,760,800,780,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6432,2700,2900,2800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6433,4700,4900,4800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6434,1400,1600,1500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [62]:
X= sales.iloc[:, 3:]
Ymod= sales["Modal_x0020_Price"]
Ymin= sales["Min_x0020_Price"]
Ymax= sales["Max_x0020_Price"]

In [64]:
x_train, x_test, y_train_mod, y_test_mod= train_test_split(X,Ymod, test_size=0.2, random_state= 42) 
x_train, x_test, y_train_min, y_test_min= train_test_split(X,Ymin, test_size=0.2, random_state= 42) 
x_train, x_test, y_train_max, y_test_max= train_test_split(X,Ymax, test_size=0.2, random_state= 42)

In [80]:
model= LinearRegression()
model.fit(x_train,y_train_min)

pred_min= model.predict(x_test)
mse= mean_squared_error(y_test_min, pred_min)
print("mse= ", mse/10**31)

mse=  78.68359536881084